server:
  port: 8090
spring:
  application:
    name: loans
  datasource:
    url: jdbc:mysql://localhost:3307/loansdb
    #driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  jpa:
    #database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
# spring.sql.init.mode=always indica que se ejecuten los scripts de inicializacion siempre que se inicie la aplicacion
  sql:
    init:
      mode: always
  profiles:
    active:
    - "prod"
  config:
    import:
    - "configserver:http://localhost:8071/"

management:
  endpoints:
    web:
      exposure:
        include:
# Expone todos los endpoints de gestion de la aplicacioÃÅn en el puerto 8080 usando el prefijo "/actuator"
# Para actualizar los properties usando @ConfigurationProperties es "refresh" /actuator/refresh - se ejecuta en cada microservicio a actualizar
# Para conectar con RabbitMQ requiere "bus-refresh" /actuator/busrefresh - Se ejecuta una sola vez y se actualiza en todos los microservicios
# siempre y cuando todos esten conectados a RabbitMQ
# "*" significa todos  
        - "*"
